* {
  font-family: 'Amatic SC', cursive;
}

.ScheduleListDiv{
  width: 500px;
  text-align: left;
  padding-left: 10px;
  font-size: 30px;
  line-height: 2px;

}

.ProuduceListDiv{
  width: 500px;
  text-align: right;
  padding-left: 10px;
  font-size: 30px;
}

.produceDiv{
  width: 500px;
}

.produceText{
  font-size: 2rem;
}

li{
   list-style-type: none;
   font-size: 1.8rem;
}

.App {
  text-align: center;
  background-color: #9cd190;
}

.HeaderPadding{
    padding: 20px;
}

.HeaderDiv{
  background-image: url(https://66.media.tumblr.com/4cf5e8eee09d5a6be3e2f12ce5d3613a/tumblr_nzzl90JSsE1rure7wo3_1280.jpg);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.NavbarText{
  display: inline-block;
}

.logosDiv{
  margin-top: 10px;
 display: inline-block;
  position:absolute;
  right: 100px;
}

.facebookImage{
  height: 50px;
  margin-left: 10px;
  display: inline-block;
}

.NavbarDiv{
  background-color: white;
  height: 60px;
  border-bottom: 2px solid gray;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.HorizontalLine{
width: 200px;
margin-left: 0px;
}



.App-link {
  color: #61dafb;
}

@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
